<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th *ngFor="let headerR of headerRow; index as i">
              {{ headerR }}
            </th>
            </thead>
            <tbody>
              <tr *ngFor="let user of dataRows; index as i" (dblclick)="doubleClick(user)">
                <td>
                  {{ user.name }}
                </td>
                <td>
                  {{ user.surname }}
                </td>
                <td>
                  {{ user.dateOfBirth }}
                </td>
                <td>
                  {{ user.role }}
                </td>
                <td>
                  {{ user.systemGeneratedEmpNR }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
