<div class="card card-user">
  <div class="card-header">
    <h5 class="card-title">Person Profile</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="personProfileForm">
        <div class="row">
          <div class="col-md-5 pr-1">
            <div class="form-group">
              <label>Name</label>
              <input class="form-control" placeholder="Name" type="text" formControlName="Name">
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>Surname</label>
              <input class="form-control" placeholder="Surname" type="text" formControlName="Surname">
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label for="exampleInputEmail1">Date Of Birth</label>
              <input class="form-control" placeholder="Date Of Birth" formControlName="DateOfBirth">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>Role</label>
              <input class="form-control" placeholder="Role" type="text" formControlName="Role">
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label>System Generated Emp NR</label>
              <input class="form-control" placeholder="System Generated Emp NR" type="text" formControlName="SystemGeneratedEmpNR">
            </div>
          </div>
        </div>
        <div class="row" *ngIf="personProfile.personAudits?.length">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Surname Old
                </th>
                <th>
                  Surname New
                </th>
                <th>
                  modifiedBy
                </th>
                </thead>
                <tbody>
                  <tr *ngFor="let audit of personProfile.personAudits; index as i" (dblclick)="doubleClick(user)">
                    <td>
                      {{ audit.surnameOld }}
                    </td>
                    <td>
                      {{ audit.surnameNew }}
                    </td>
                    <td>
                      {{ audit.modifiedBy }}
                    </td>
                    <td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button class="btn btn-primary btn-round" type="button" (click)="BackClick()">Back</button>
          </div>
        </div>
      </form>
  </div>
</div>
